.checklist-import-inputs {
  display: grid;
  grid-template-columns: 5em 10em;
  grid-template-rows: 2em 2em;
  grid-gap: 5px;
  width: 50px;
  line-height: 20px;
}

.checklist-selection {
  margin-top: 20px;
  position: relative;
}

body {
  background-color: #272727;
  color: #fff;
  font-family: 'Outfit', sans-serif;
}

input,
button,
textarea,
select {
  background-color: #bb86fc;
  border-radius: 5px;
  border: 0;
}

h2 {
  color: #bb86fc;
}

select {
  width: 12em;
  text-align: center;
}
